
*.xml linguist-generated=true
*.html linguist-generated=true
*.css linguist-generated=true
*.js linguist-generated=true

build/** linguist-generated=true
app/build/** linguist-generated=true
.idea/** linguist-generated=true
.gradle/** linguist-generated=true

*.java linguist-language=Java
*.kt linguist-language=Kotlin
